.lightbox-opened .image-contextual-menu{
    opacity: 0;
}
.lightbox-opened .image-contextual-menu{
    display: none;
}
.image-contextual-menu{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    animation: slideIn 1 250ms;
    transform-origin: top;
    z-index: 100001;
    background: #f9f9f9;
    color: #222;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    white-space: nowrap;
    button, i{
        user-select: none;
        margin-bottom: 0;
        background: transparent;
        color: #222;
        cursor: pointer;
    }
    button{
        font-family: $ode-btn-font;
        text-transform: uppercase;
        height: 40px;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 15px;
        font-size: 22px;
        border: none;
        line-height: 40px;
        padding-left: 12px !important;
        padding-right: 12px !important;
        padding-left: 13px;
        background: transparent;
        box-shadow: none;
        border-right: 1px solid rgba(255,255,255, 0.3);
        &:hover{
            background: #ccc;
        }
    }
    i{
        transition: 250ms ease;
        line-height: 37px;
        display: inline-block;
        height: 38px;
        box-sizing: border-box;
        width: 35px;
        text-align: center;
        vertical-align: text-bottom;
        border-radius: 3px;
        &.large{
            font-size: 30px;
        }
        &.medium{
            font-size: 23px;
        }
        &.ed{
            box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
            &:hover{
                box-shadow: none;
            }
        }
    }

    i.resize-image{
        @include fonticon();
        &::before{
            content: '\e929';
        }
    }
}

.image-contextual-menu{
    i:hover, i.selected{
        background: #ddd;
    }
    button:hover{
        color: #222;
    }
}
@media screen and (max-width: $tablette) {
    body{
        .image-contextual-menu{
            pointer-events: none;
            button, i{
                pointer-events: all;
            }
        }
    }
}