@function getUrl($path) {
    @return url(#{$base-url}#{$path});
}

@function getUrlStr($path) {
    @return #{$base-url}#{$path};
}

@mixin fonticon {
    font-family: "generic-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none;
    font-weight: normal!important;
}