$root-selector: '.bootstrap-theme' !default;
$base-url: '' !default;
$wide-screen: 1200px !default;
$tablette: 800px !default;
$small-tablette: 650px !default;
$fat-mobile: 550px !default;
$small-mobile: 420px !default;
$ode-btn-font: 'KGJune' !default;