//Variables propres au framework ode-bootstrap

// COLOR // shadow // A Garder ou unifier avec les var $box-shadow ?
$shadow-lightest: rgba(#000, 0.1);
$shadow-light: rgba(#000, 0.3);
$shadow: rgba(#000, 0.6);
$shadow-dark: rgba(#000, 0.8);

// FONT PATHS
$fonts-path: "fonts" !default;
$fa-font-path: "#{$fonts-path}/fa" !default;
$dyslexic-font-path: "#{$fonts-path}/dyslexic" !default;
