@mixin rect($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($width) {

    @include rect($width, $width);
}

@mixin circle($width) {

    @include square($width);

    border-radius: 50%;
}
