@include media-breakpoint-down(md) {
    .d-mobile-none {
        display: none !important;
    }
    .pe-mobile {
        pointer-events: none;
    }
}

@include media-breakpoint-up(md) {
    .d-desktop-none {
        display: none !important;
    }
    .pe-desktop {
        pointer-events: none;
    }
}
