.widget-bookmarks {
  //Widget Liens utiles

  .bookmark {
    &-item {
      @include background-color-to(rgba($secondary, 0.1));

      padding: 0 $widget-padding-x;
      color: $secondary;
      border-bottom: 1px solid $gray-300;

      .link {
        @include decoration-to(none);
        @include insert-icon("\f0c1", 0.8em, 1em);

        display: block;
        padding: 0.4em 0 0.4em 25px;
      }
    }
  }
}
