@use "sass:map";

// Array Widget Flash Colors
// Global colors are wrong according to figma palette, so I redeclare them here....
$widget-flash-colors: (
  "red": (
    "background": #FFECEE,
    "shadow": #FFADB9,
    "badge": #FF3A55
  ),
  "orange": (
    "background": #FFEFE3,
    "shadow": #FFCBA0,
    "badge": #FF8D2E
  ),
  "green": (
    "background": #E6F9F8,
    "shadow": #B6EDE5,
    "badge": #46BFAF
  ),
  "blue": (
    "background": #E5F5FF,
    "shadow": #B9E3F8,
    "badge": #2A9CC8
  ),
  "grey-dark": (
    "background": $gray-300,
    "shadow": $gray-400,
    "badge": $gray-600
  ),
);

.widget-flash {
  background: $secondary;
  
  padding: 36px 24px 24px;
  position: relative;
  border-radius: 8px 8px 8px 6px;
  margin: 32px 4px 36px 0;
  left: 4px;
  bottom: 4px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  &:last-child {
    margin-bottom: 28px;
  }
  
  @each $key, $value in $widget-flash-colors {
    &.#{$key} {
      --custom-message-color: #{map.get($value, "background")};
      background-color: map.get($value, "background");
      box-shadow: map.get($value, "shadow") -4px 0px,
                  map.get($value, "shadow") 0px 4px,
                  map.get($value, "shadow") -2px 2px 0 2px;

      &::before {
        background-color: map.get($value, "badge");
        border-color: map.get($value, "shadow");
        box-shadow: 0 0 0 4px map.get($value, "background");
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 4px-52px+24px + 8px;
    left: 4px+24px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border-width: 4px;
    border-style: solid;
    box-sizing: content-box;
  }

  .flash-icon {
    position: absolute;
    display: block;
    top: 4px-52px+24px + 8px + 10px;
    left: 4px+24px + 10px;
    width: 24px;
    height: 24px;
    color: $white;
  }
  &.red .flash-icon{
    // 'alert-triangle' icon seems vertically misaligned.
    transform: translateY(-1px);
  }

  .flash-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;

    &:not(:has(*)) {
      display: none;
    }
  }

  .btn {
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px + 16px;
      height: 20px + 16px;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 8px;
      color: $text-color;
      background-color: initial;
      background-image: initial;
      opacity: initial;
    
      &:hover {
        background-color: $gray-300;
      }
    
      &:active {
        background-color: $gray-400;
        color: $black;
      }
    
      &:focus {
        background-color: $gray-300;
        border: solid 1px $gray-400;
      }
    }

    &-expand {
      padding-left: 8px;
      padding-right: 8px;

      cursor: pointer;
      flex-shrink: 0;
      margin-left: auto;

      grid-area: 2 / 2 / 3 / 3;
      align-self: flex-end;

      &-inner {
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .flash-content {
    padding-right: 1rem;
    grid-area: 1 / 1 / 2 / 3;

    // Merge multiple <br> into one and delete the first empty line if present
    p, p>div {
      & > br:first-child, & > br:not(:not(br)+br) {
        display: none;
      }
    }

    a {
      color: inherit;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        color: $black;
      }

      &:active {
        color: #550070;
      }
    }

    &.can-be-truncated {
      &:not(.flash-content-is-expandable) {
        p {
          @include has-text-truncated(2);
          padding-bottom: 0;
        }

        @media not all and (min-resolution: 0.001dpcm) {
          &::after {
            display: none;
          }
        }
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .flash-content-signature {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: bold;
    margin-right: 2em !important;
    color: $gray-700;
  }
}
