$alert-color-success: $success !default;
$alert-color-info: $info !default;
$alert-color-warning: $warning !default;
$alert-color-danger: $danger !default;
$alert-border-width: $spacer-8 !default;

$support-colors: (
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
) !default;

.alert {
  --#{$prefix}alert-border-left-color: #{$gray-800};
  --#{$prefix}alert-bg: #{$white};

  display: flex;
  align-items: center;
  background-color: var(--#{$prefix}alert-bg);
  border-left: 8px solid var(--#{$prefix}alert-border-left-color);
  color: var(--#{$prefix}alert-color);

  .alert-content {
    font-size: $small-font-size;
  }

  &.is-dismissible {
    padding-right: 5rem;

    .btn-close {
      position: absolute;
      top: 50%;
      right: var(--#{$prefix}alert-padding-x);
      transform: translateY(-50%);
    }
  }

  &.is-toast {
    box-shadow: $box-shadow;
    max-width: 450px;
    z-index: 20;
  }

  .stack & {
    margin-bottom: 0;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: $spacer-8;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 350px;
}

@each $state, $key in $support-colors {
  .alert-#{$state} {
    --#{$prefix}alert-color: #{map-get($key, "base")};
    --#{$prefix}alert-border-color: #{map-get($key, "pale")};
    --#{$prefix}alert-border-left-color: #{map-get($key, "base")};
  }
}
