.application:is(.application-react) {
  // variant title, square
  &.application-title {
    display: none;

    img {
      object-fit: contain;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      gap: $spacer-12;
      align-items: center;
    }
  }
  &.application-square {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: $spacer-8;
    width: 8rem;

    > div {
      align-items: center;
      aspect-ratio: 1;
      border-radius: $border-radius;
      display: flex;
      justify-content: center;
    }
  }
}

.app-icon {
  &.icon-ratio {
    &.square,
    &.rounded,
    &.rounded-circle {
      > svg {
        width: 100%;
        height: 100%;
      }

      &.icon-xs {
        padding: $spacer-4;
      }

      &.icon-sm {
        padding: $spacer-8;
      }

      &.icon-md {
        padding: $spacer-8;
      }

      &.icon-lg {
        padding: $spacer-16;
      }

      &.icon-xl {
        padding: 3.2rem;
      }
    }
  }
}
