.application:is(.application-react) {
  // variant title, square
  &.application-title {
    display: none;

    img {
      object-fit: contain;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      gap: $spacer-12;
      align-items: center;
    }
  }
  &.application-square {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: $spacer-8;
    width: 8rem;

    > div {
      align-items: center;
      aspect-ratio: 1;
      border-radius: $border-radius;
      display: flex;
      // height: 8rem;
      justify-content: center;
      // width: 8rem;

      /* > svg {
        width: 5rem;
        height: 5rem;
      } */
    }
  }
  /* &.application-lg {
    width: 16rem;

    > div {
      height: 16rem;
      width: 16rem;

      > svg {
        width: 10rem;
        height: 10rem;
      }
    }
  } */
}
