$avatar-size: 65px !default;

.avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;

  &--20 {
    width: 20px;
    height: 20px;
  }

  &--25 {
    width: 25px;
    height: 25px;
  }
  &--50 {
    width: 50px;
    height: 50px;
  }

  &--100 {
    width: 100px;
    height: 100px;
  }

  &-social {
    position: relative;

    @include circle($avatar-size);

    .photo {
      img {
        @include avatar-image($avatar-size);
      }
    }

    .circle {
      @include have-child-in-middle();
      @include circle(calc(#{$avatar-size} / 1.8));

      position: absolute;
      right: 0;
      bottom: 0;
      font-size: calc(#{$avatar-size} / 3.5);
      color: $white;
      transform: translate(20%, 20%);
    }
  }

  &-link {
    display: inline-block;
    cursor: pointer;

    img {
      @include avatar-image($avatar-size);
      background: #ffff;
    }
  }

  .navbar.no-1d & {
    margin-top: -0.3rem;
    width: 3rem;
    max-width: 3rem;
    height: 3rem;
    background-color: $white;

    @include media-breakpoint-down(md) {
      display: inline-block;
      width: 2rem;
      max-width: 2rem;
      height: 2rem;
    }
  }
}
