$avatar-size: 65px !default;

body:is(.app-react) {
  .avatar {
    --#{$prefix}avatar-size: 8rem;
    --#{$prefix}avatar-svg-size: 5rem;

    height: var(--#{$prefix}avatar-size);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.avatar-title) {
      aspect-ratio: 1 / 1;
    }

    &:is(img) {
      object-fit: cover;
    }

    > svg {
      width: var(--#{$prefix}avatar-svg-size);
      height: var(--#{$prefix}avatar-svg-size);
    }

    &.avatar-square {
      border-radius: $border-radius;
    }

    &.avatar-rounded {
      border-radius: 50%;
    }

    &.avatar-title {
      height: auto;
      max-width: 5rem;
    }

    &.avatar-xs {
      --#{$prefix}avatar-size: 2.4rem;
      --#{$prefix}avatar-svg-size: 1.25rem;
    }

    &.avatar-sm {
      --#{$prefix}avatar-size: 4.2rem;
      --#{$prefix}avatar-svg-size: 2.5rem;
    }

    &.avatar-md {
      --#{$prefix}avatar-size: 8rem;
      --#{$prefix}avatar-svg-size: 5rem;
    }

    &.avatar-lg {
      --#{$prefix}avatar-size: 16rem;
      --#{$prefix}avatar-svg-size: 10rem;
    }
  }
}

body:not(.app-react) {
  .avatar {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;

    &--20 {
      width: 20px;
      height: 20px;
    }

    &--25 {
      width: 25px;
      height: 25px;
    }
    &--50 {
      width: 50px;
      height: 50px;
    }

    &--100 {
      width: 100px;
      height: 100px;
    }

    &-social {
      position: relative;

      @include circle($avatar-size);

      .photo {
        overflow: hidden;
        @include avatar-image($avatar-size);
      }

      .circle {
        @include have-child-in-middle();
        @include circle(calc(#{$avatar-size} / 1.8));

        position: absolute;
        right: 0;
        bottom: 0;
        font-size: calc(#{$avatar-size} / 3.5);
        color: $white;
        transform: translate(20%, 20%);
      }
    }

    &-link {
      cursor: pointer;
      overflow: hidden;
      @include avatar-image($avatar-size);

      img {
        background: $white;
      }
    }
  }

  .navbar.no-1d {
    .avatar {
      margin-top: -0.3rem;
      width: 3rem;
      max-width: 3rem;
      height: 3rem;
      background-color: $white;

      @include media-breakpoint-down(md) {
        display: inline-block;
        width: 2rem;
        max-width: 2rem;
        height: 2rem;
      }
    }
  }
}
