.card {
  --#{$prefix}card-cap-bg: #{$gray-200};
  --#{$prefix}card-inner-border-radius: #{$border-radius};
  --#{$prefix}card-selected: #{$secondary-200};
  --#{$prefix}card-spacer-x: #{$spacer-16};
  --#{$prefix}card-spacer-y: #{$spacer-16};
  --#{$prefix}card-title-spacer-y: #{$spacer-4};
  --#{$prefix}enter-delay: 1s;

  overflow: hidden;
  border-color: transparent;

  @if $enable-one {
    border: 1px solid $gray-400;
  } @else {
    box-shadow: $box-shadow;
  }

  .btn {
    --#{$prefix}btn-border-radius: 0.8rem;

    opacity: 0;
    padding-block: $spacer-12;
    padding-inline: $spacer-12;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0;

    &:focus-visible {
      opacity: 1;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    gap: $spacer-12;
  }

  &-text {
    em {
      color: $gray-700;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: $spacer-8;
    padding-inline: $spacer-16;
    border-radius: $border-radius;
    border: 0;

    &:last-child {
      border-radius: var(--#{$prefix}card-inner-border-radius);
    }
  }

  &.is-selected {
    border-color: var(--#{$prefix}card-selected);

    .btn {
      opacity: 1;
      background-color: $secondary-100;
    }
  }

  &.is-animated {
    opacity: 0;
    transition: all 850ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: enter 850ms forwards;
    animation-delay: var(--#{$prefix}enter-delay);
  }

  &:focus-within {
    border-color: var(--#{$prefix}card-selected);
    outline: 0;

    .btn {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover {
      .btn {
        opacity: 1;
      }
    }
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
