.dropdown-item {
  input[type="checkbox"] {
    vertical-align: middle;
  }
}

.dropdown-trigger {
  display: inline-flex;
  align-items: center;
  color: $gray-800;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid $gray-400;
  padding: 12px 16px;
  cursor: pointer;
  background: transparent;
  @include background-color-to($gray-200);

  &.focus,
  &:focus {
    border-color: $gray-600;
  }

  &.disabled {
    border-color: $gray-500;
    background-color: $gray-200;
    color: $gray-600;
  }

  &.selected {
    border-color: $dropdowntrigger-selected-border-color;

    .dropdown-trigger-carret-icon {
      transform: rotate(0);
      
    }
  }

  &.ghost {
    border: 0;
    background-color: transparent;
    &.focus {
      border: 1px solid $gray-400;
      background-color: $gray-200;
    }
    &.selected {
      background-color: $dropdowntrigger-selected-bg-color;
    }
  }

  .dropdown-trigger-carret-icon {
    transition: transform 0.2s $default-easing;
    transform: rotate(-180deg);
  }

  .dropdown-trigger-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  /*size variations*/
  &.sm {
    padding: 4px 8px;
    font-size: 1.4rem;
    .dropdown-trigger-icon {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &.md {
    padding: 8px 12px;
  }
  &.lg {
    padding: 12px 16px;
  }
}
