.form-text {
  --#{$prefix}form-feedback-valid-color: #{$form-feedback-valid-color};
  --#{$prefix}form-feedback-invalid-color: #{$form-feedback-invalid-color};
  &.valid {
    color: var(--#{$prefix}form-feedback-valid-color);
  }
  &.is-invalid {
    color: var(--#{$prefix}form-feedback-invalid-color);
  }
}
