#help-modal {
  .section {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    background: #fff;

    &:target {
      display: block !important;
    }
  }

  .modal-body {
    padding-top: $spacer-48;
    display: grid;
    background: white;
  }

  #TOC {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
  }

  #TOC > #TOC-list {
    /* display: none; */
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
  }

  #TOC > .btn {
    display: block;
  }

  #TOC + p {
    display: none;
  }

  #TOC > #TOC-list {
    list-style: none;
    border-left: 5px solid #ff8500;
  }

  #TOC li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    #TOC {
      position: relative;

      > ul {
        display: block;
      }
      > .btn {
        display: none;
      }
    }

    #TOC-list {
      display: block !important;
    }

    .modal-body {
      display: grid;
      grid-template-columns: 10em 1fr;
      gap: 3.2rem;
    }
  }
}
