.image-input {
  position: relative;
  --#{$prefix}image-input-size: 16rem;

  height: var(--#{$prefix}image-input-size);
  width: var(--#{$prefix}image-input-size);
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    margin-bottom: 0;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  &-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacer-8;
    background-color: $white;
    border: 0.1rem solid $gray-300;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
  }

  .btn-icon {
    padding: 0;
  }

  &.image-input-lg {
    --#{$prefix}avatar-size: 16rem;
    --#{$prefix}avatar-svg-size: 10rem;
  }
}
