$modal-inner-padding: $spacer-0;
$modal-content-padding: $spacer-32;
$modal-header-padding: $spacer-0;
$modal-footer-padding: $spacer-0;
$modal-dialog-margin: $spacer-64;
$modal-title-line-height: 3.2rem;
$modal-footer-gap: $spacer-8;
$modal-max-width-md: 648px;
$modal-max-width-lg: 872px;

.modal {
  // scss-docs-start modal-css-vars
  --#{$prefix}modal-zindex: #{$zindex-modal};
  --#{$prefix}modal-width: #{$modal-md};
  --#{$prefix}modal-max-width-md: #{$modal-max-width-md};
  --#{$prefix}modal-max-width-lg: #{$modal-max-width-lg};
  --#{$prefix}modal-padding: #{$modal-inner-padding};
  --#{$prefix}modal-margin: #{$modal-dialog-margin};
  --#{$prefix}modal-color: #{$modal-content-color};
  --#{$prefix}modal-bg: #{$modal-content-bg};
  --#{$prefix}modal-border-color: #{$modal-content-border-color};
  --#{$prefix}modal-border-width: #{$modal-content-border-width};
  --#{$prefix}modal-border-radius: #{$modal-content-border-radius};
  --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
  --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};
  --#{$prefix}modal-content-padding: #{$modal-content-padding};
  --#{$prefix}modal-header-padding-x: #{$modal-header-padding-x};
  --#{$prefix}modal-header-padding-y: #{$modal-header-padding-y};
  --#{$prefix}modal-header-padding: #{$modal-header-padding}; // Todo in v6: Split this padding into x and y
  --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
  --#{$prefix}modal-header-border-width: #{$modal-header-border-width};
  --#{$prefix}modal-title-line-height: #{$modal-title-line-height};
  --#{$prefix}modal-footer-gap: #{$modal-footer-gap};
  --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
  --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};
  --#{$prefix}modal-footer-border-width: #{$modal-footer-border-width};
  --#{$prefix}modal-footer-padding: #{$modal-footer-padding};
  // scss-docs-end modal-css-vars

  .modal-dialog {
    &.modal-md,
    &.modal-lg {
      @include media-breakpoint-up(xs) {
        max-width: fit-content;
        margin-left: $spacer-16;
        margin-right: $spacer-16;
      }
      & > .modal-content {
        @include media-breakpoint-up(xs) {
          padding: $spacer-24;
        }
        @include media-breakpoint-up(md) {
          padding: var(--#{$prefix}modal-content-padding);
        }
      }
    }

    &.modal-md {
      @include media-breakpoint-up(md) {
        max-width: var(--#{$prefix}modal-max-width-md);
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.modal-lg {
      @include media-breakpoint-up(md) {
        margin-left: $spacer-32;
        margin-right: $spacer-32;
      }
      @include media-breakpoint-up(lg) {
        max-width: var(--#{$prefix}modal-max-width-lg);
        margin-left: auto;
        margin-right: auto;
      }
    }

    & > .modal-content {
      padding: var(--#{$prefix}modal-content-padding);

      & > .modal-header {
        .btn-close {
          position: absolute;
          top: 1.9rem;
          right: 1.9rem;
          opacity: 1;
          color: $gray-800;
        }
      }

      & > .modal-body {
        margin: $spacer-32 $spacer-0;
      }

      & > .modal-footer {
        gap: var(--#{$prefix}modal-footer-gap);

        & > * {
          margin: 0;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      margin-top: $spacer-32;
      margin-bottom: $spacer-32;
    }

    @include media-breakpoint-up(md) {
      margin-top: $spacer-48;
      margin-bottom: $spacer-48;
    }
  }
}
