.popover {
  --#{$prefix}popover-border-color: #{$gray-200};
  --#{$prefix}popover-body-padding-x: #{$spacer-12};
  --#{$prefix}popover-body-padding-y: #{$spacer-8};
  --#{$prefix}popover-max-width: 250px;
  --#{$prefix}popover-footer-color: #{$body-color};
  --#{$prefix}popover-header-bg: transparent;
  --#{$prefix}popover-header-color: #{$body-color};

  width: var(--#{$prefix}popover-max-width);

  &::before {
    content: "▲";
    position: absolute;
    top: -2rem;
    left: 50%;
    z-index: 0;
    display: block;
    width: 2rem;
    font-family: none;
    font-size: 2rem;
    color: $white;
    transform: translateX(-50%);
  }

  &::after {
    display: none;
  }

  &-footer {
    /* padding: var(--#{$prefix}popover-body-padding-y)
      var(--#{$prefix}popover-body-padding-x); */
    color: var(--ode-popover-footer-color);
  }
}

.bookmarked-app {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $spacer-16;
  flex: 0 1 33.33%;
  height: 33.33%;
  aspect-ratio: 1 / 1;
  text-align: center;
  border: 1px solid transparent;
  border-radius: $border-radius;

  @include add-transitions(border-color) {
    border-color: $gray-300;
  }
}
