.table-explorer {
  width: 100%;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;

  overflow: hidden;
  border: 1px solid $table-explorer-main-color;

  tr > * {
    padding: 10px 12px;
    font-size: $small-font-size;
  }

  thead {
    background-color: $table-explorer-main-color;
    color: $gray-800;

    .form-check-input {
      width: 16px;
      height: 16px;
      transform: translateY(-1px) translateX(-1px);
    }
  }

  tbody > tr:nth-of-type(even) > * {
    background-color: $gray-200;
  }
}
