$selected-background-color: $blue-100 !default;

.treeview {
  --#{$prefix}selected-background-color: #{$selected-background-color};

  [role="tree"] {
    list-style: none;
    max-width: 400px;
    overflow-y: auto;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;
    }

    & > [role="treeitem"][aria-selected="true"] > div > .action-container {
      background-color: var(--#{$prefix}selected-background-color);
      font-weight: 700;
      border-radius: $border-radius;
    }
  }

  [role="group"] {
    margin-left: 0.8rem;
    padding-left: 0;
    border-left: 1px solid $gray-400;
    font-size: 1.4rem;

    & > [role="treeitem"] {
      margin-left: 0.8em;

      &[aria-selected="true"] > div > .action-container {
        background-color: initial;
        color: $secondary;
        font-weight: 700;
      }
    }
  }

  [role="treeitem"] > [aria-expanded="false"] > [role="group"] {
    display: none;
  }

  [role="treeitem"] > [aria-expanded="true"] > [role="group"] {
    display: block;
  }

  .action-container {
    &:hover {
      background-color: $gray-300;
      border-radius: $border-radius;
    }

    &:active {
      background-color: $gray-400;
      border-radius: $border-radius;
    }
  }
}
