// Initialize good style and good font on all icons
[class*="ic-"] {
  font-family: "generic-icons";
  font-style: normal;
  font-weight: 400;
}

// Icons list
.ic {
  @each $icon, $data in $icons-interface {
    &-#{$icon} {
      &::before {
        content: map-get($data, "glyph");
      }
    }
  }
}

// Classes utilitaires par application
.color-app {
  //applications
  @each $app, $data in $icons-applications {
    &-#{$app} {
      color: map-get($data, "color");
    }
  }
  //connectors
  @each $app, $data in $icons-connectors {
    &-#{$app} {
      color: map-get($data, "color");
    }
  }
}

.bg-app {
  //applications
  @each $app, $data in $icons-applications {
    &-#{$app} {
      background-color: map-get($data, "color");
    }
  }
  //connectors
  @each $app, $data in $icons-connectors {
    &-#{$app} {
      background-color: map-get($data, "color");
    }
  }
}

.ic-app {
  //applications
  @each $app, $data in $icons-applications {
    &-#{$app},
    &-#{$app}-large {
      &::before {
        content: map-get($data, "glyph");
      }
    }
  }
  //connectors
  @each $app, $data in $icons-connectors {
    &-#{$app},
    &-#{$app}-large {
      &::before {
        content: map-get($data, "glyph");
      }
    }
  }
}

// Classes des icones pour les widgets
.ic-widget {
  @each $app, $data in $icons-widgets {
    &-#{$app},
    &-#{$app}-large {
      &::before {
        content: map-get($data, "glyph");
      }
    }
  }
}

// Classes des icones pour les humeurs
.ic-mood {
  @each $mood, $data in $icons-mood {
    &-#{$mood} {
      &::before {
        content: map-get($data, "glyph");
        color: map-get($data, "color");
      }
    }
  }
}
