/* offset-x | offset-y | blur-radius | spread-radius | color */
$box-shadow: 0 0.2rem 0.6em rgba($black, 0.15);
$box-shadow-hover: 0 0.4rem 1rem rgba($black, 0.12);
$box-shadow-bottom: 0 -0.6rem 3rem -1rem rgba($black, 0.15);

.shadow {
  --#{$prefix}box-shadow: #{$box-shadow};
  box-shadow: var(--#{$prefix}box-shadow);
}

.shadow-hover {
  --#{$prefix}box-shadow-hover: #{$box-shadow-hover};
  box-shadow: var(--#{$prefix}box-shadow-hover);
}

.shadow-bottom {
  --#{$prefix}box-shadow-bottom: #{$box-shadow-bottom};
  box-shadow: var(--#{$prefix}box-shadow-bottom);
}
